<ion-header class="ion-no-border">
  <ion-item lines="none">
    <ion-avatar slot="end">
      <img src="assets/profile.jpg">
    </ion-avatar>
    <ion-button fill="clear" color="light">
      <ion-icon slot="icon-only" name="menu"></ion-icon>
    </ion-button>
    <ion-label>
      <h2>Oxigem</h2>
    </ion-label>
  </ion-item>
  <ion-item lines="none"  class="ion-align-items-cente ion-text-right">
      
          
          <div style="padding: 0%;">
            <ion-button style=" border-radius: 50px;" fill="clear" color="dark" size="large" >
                <img style="background-color: white; padding: 3px; border-radius: 40px;" src="assets/img/buscar.png" width="50px">
            </ion-button>
            <ion-button style=" border-radius: 50%;" fill="clear" color="dark" size="large" >
                <img style="background-color: white; padding: 3px; border-radius: 40px;" src="assets/img/tanque-de-oxigeno.png" width="50px">
            </ion-button>
          </div>
    
  </ion-item>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-padding">

    <ion-card>
      <ion-card-header>
        <ion-row class="ion-align-items-center">
          <ion-col size="6">
            <ion-badge color="warning" mode="ios">
              <ion-icon name="star"></ion-icon>
              25
            </ion-badge>
          </ion-col>
          <ion-col size="6" class="ion-text-right">
            <ion-card-subtitle color="danger">30</ion-card-subtitle>
          </ion-col>
        </ion-row>
      </ion-card-header>
      <ion-card-content>
        <ion-img src="assets\img\ilustraciones\carroCamino.svg" style="width: 50%;" ></ion-img>
        <ion-row>
          <ion-col size="12" class="text-center">
            <ion-card-title><strong>ENTREGA</strong></ion-card-title>
            
          </ion-col>
          <!--
          <ion-col size="4" class="ion-text-right">
            <ion-button fill="clear" color="dark" size="large" routerLink="/details">
              <ion-icon slot="icon-only" name="chevron-forward-circle-outline"></ion-icon>
            </ion-button>
          </ion-col>-->
        </ion-row>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-row class="ion-align-items-center">
          <ion-col size="6">
            <ion-badge color="warning" mode="ios">
              <ion-icon name="star"></ion-icon>
              25
            </ion-badge>
          </ion-col>
          <ion-col size="6" class="ion-text-right">
            <ion-card-subtitle color="danger">30</ion-card-subtitle>
          </ion-col>
        </ion-row>
      </ion-card-header>
      <ion-card-content>
        <ion-img src="assets\img\ilustraciones\card-multiples.svg" style="width: 50%;"></ion-img>
        <ion-row>
          <ion-col size="12" class="text-center">
            <ion-card-title class="text-center"><strong>RECOGER</strong></ion-card-title>
            
          </ion-col>
          <!--
          <ion-col size="4" class="ion-text-right">
            <ion-button fill="clear" color="dark" size="large" routerLink="/details">
              <ion-icon slot="icon-only" name="chevron-forward-circle-outline"></ion-icon>
            </ion-button>
          </ion-col>-->
        </ion-row>
      </ion-card-content>
    </ion-card>
    
  </div>
</ion-content>

<div class="ion-padding">
  <ion-badge class="ion-text-center" color="danger" mode="ios">OXIGEM-2020</ion-badge>
</div>
