<ion-header class="ion-no-border"  >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="chevron-back" defaultHref="menu-principal"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end" >
      <ion-button size="small" (click)="irRuta('escaneo-qr-oxigem')" >
        <ion-icon name="qr-code-outline"  ></ion-icon>
      </ion-button>
      <ion-button  (click)="buscador()" size="small" >
        <ion-icon *ngIf="buscar" name="search-circle"></ion-icon>
        <ion-icon *ngIf="!buscar" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">

  <ion-searchbar color="primary"  style="position: absolute; z-index: 100;" *ngIf="buscar" [ngClass]="{'animate__backInRight': buscarAnimacion, 'animate__backOutRight': !buscarAnimacion }" class="animate__animated  " ></ion-searchbar>
  <div class="ion-padding">
    <ion-item lines="none" (click)="irRuta('detalles-usuario')" >
      <ion-icon name="calendar-outline" slot="start" style="background: #57ed95" ></ion-icon>
      <ion-label>
        <ion-label  >
          <strong>Oximed-2899</strong>  <br>
          Retener : $40.000 <br>
          <h6> 23-07-2020</h6><br>
        </ion-label>
      </ion-label>
      <ion-icon name="chevron-forward" slot="end"></ion-icon>
    </ion-item>
    <ion-item lines="none"  (click)="irRuta('detalles-usuario')">
      <ion-icon name="calendar-outline"  slot="start" style="background: #ed576b" ></ion-icon>
      <ion-label >
        <strong>Oximed-2899</strong>  <br>
        Deposito: $50.000<br>
        <h6> 23-07-2020</h6> <br>
      </ion-label>
      <ion-icon name="chevron-forward" slot="end"></ion-icon>
    </ion-item>
    <ion-item lines="none"  (click)="irRuta('detalles-usuario')">
      <ion-icon name="calendar-outline"  slot="start" style="background: #ed576b" ></ion-icon>
      <ion-label >
        <strong>Oximed-2499</strong>  <br>
        Deposito: $20.000<br>
        <h6> 23-07-2020</h6> <br>
      </ion-label>
      <ion-icon name="chevron-forward" slot="end"></ion-icon>
    </ion-item>

    <!-- <h6>Pickup Location</h6>
    <ion-item lines="none">
      <ion-icon name="location-outline" slot="start"></ion-icon>
      <ion-label>
        <ion-input placeholder="Muscat"></ion-input>
      </ion-label>
      <ion-icon name="chevron-forward" slot="end"></ion-icon>
    </ion-item> -->

  </div>
</ion-content>

<!-- <div class="ion-padding">
  <ion-badge color="danger" mode="ios">
    Oxigem-2020
  </ion-badge>
</div> -->
